body{
    font-family: Georgia;
    font-size:20px;
    padding: 20px;
    background-color: rgb(0,0,0);
    background-image: url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    }
.content {
        position: absolute;
      }    

    h1{
        color:rgb(13, 13 , 13);
        text-align:center;
        margin-top:1px;
        font-size:60px
        }

        h2,h3{
        color:rgb(46, 146, 185);
        }
        p{
            color: silver;
        }
        nav{
        display:flex; 
        flex-wrap:wrap;
        }
        
        aside{
        float: right;
        }
       
        .f1{
        border: inset;
        border-radius:30px;
        padding-bottom: 30px;
        padding-left: 30px;
        display:block;
        color:rgb(0,0,0);
        }
        
        .f1 label{
        display:block;
        }
         
        .button{
        background-color:red;
        color:white;
        padding:8px;
        border:none;
        border-radius: 8px;
        }
        
        .button:active{
        background-color:green;
        }
        
        .inner{
            font-size: 18px;
            text-align: center;
        }
        
        
